 /* login page  */


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(44, 163, 157, 0.678);
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signin-form {
    background-color: rgba(241, 218, 218, 0.61);
    padding: 20px;
    border-radius: 8px;
    padding-right: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: dodgerblue;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  
  p {
    margin-top: 10px;
    text-align: center;
  }
  
  a {
    color: dodgerblue;
  }

  


  /* login page  */





  /* register  -   signup page  */
  .signup-form {
    background-color: rgba(241, 218, 218, 0.61);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    padding-right: 40px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: dodgerblue;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  
  p {
    margin-top: 10px;
    text-align: center;
  }
  
  a {
    color: dodgerblue;
  }


   /* register  -   signup page  */